* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
}

.hidden {
  display: none !important;
}

section.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.add-entry-form {
  background-color: white;
  width: 800px;
  height: 350px;
  padding: 10px 50px;
}

.flex-left {
  justify-content: start;
  margin-bottom: 20px;
}

select:first-child {
  margin-right: 10px;
}

textarea {
  width: 100%;
}

.flex-right {
  padding-top: 10px;
  justify-content: end;
}

.row.day-buttons {
  margin-bottom: 20px;
}

.row.day-buttons button {
  margin: 0 10px;
  background-color: white;
  width: 100px;
  height: 80px;
  cursor: pointer;
}

.add-entry {
  background-color: white;
  width: 200px;
  height: 40px;
}
